* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    #202020,
    #202020 100%
  );
}
.collectible-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.collectible-form {
  margin-bottom: 32px;
}

.collectible-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.collectible-name {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.collectible-input::placeholder {
  
}

.collectible-button {
  padding: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.collectible-input.edit {
  border: 2px solid #149fff;
}

.collectible-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.collectible-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.element-row {
  margin: 4px auto;
  align-items: center;
  background: linear-gradient(
    90deg,
    #202020 0%,
    #202020 100%
  );
  box-shadow: 0px 3px 50px #000000;
  padding: 16px;
  border-radius: 1px;
  width: 90%;
  color: #fff;
  
  border: solid;
  border-width: thin;
  border-color: #00FFFF;
}


.element-row:nth-child(2n + 1) {
  background: linear-gradient(
    90deg,
    #202020 0%,
    #202020 100%
  );
  box-shadow: 0px 3px 50px #000000;
}
.filter-row {
  margin: 4px auto;
  align-items: center;
  background: linear-gradient(
    90deg,
    #404040 0%,
    #404040 100%
  );

  padding: 5px;
  border-radius: 5px;
  width: 80%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #99FF33;
}

.edit-icon {
  color: #99FF33;
}

.center {
  text-align: center;
  border: 3px solid green;
}

.textbox{
  color: #404040;
}